doctype html

html.snap-y.snap-mandatory.snap-always(lang=en)
    head
        meta(charset="utf-8")
        meta(name="viewport", content="width=device-width, initial-scale=1")

        meta(property="og:title", content="Eero Talus")
        meta(property="og:description", content="Portfolio")
        meta(property="og:type", content="website")
        meta(property="og:url", content="https://talus.cc")
        meta(property="og:image", content="https://www.talus.cc/gallery/images/distortion_pcb.jpg")

        link(rel="stylesheet", href="/css/bundle.css")
        link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Montserrat|Alata&display=swap")

        title Eero Talus

        block head

    body.min-h-screen
        block body
